{% extends 'base.html' %}
{% block content %}


<!-- Page Content -->
<div class="container">

  <!-- Page Heading/Breadcrumbs -->
  <h1 class="mt-4 mb-3">Portfolio Item
    <small>Subheading</small>
  </h1>

  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="index.html">Home</a>
    </li>
    <li class="breadcrumb-item active">Portfolio Item</li>
  </ol>
  <div class="container">

    <!-- Portfolio Item Row -->
    <div class="row">

      <div class="col-md-6">
        <img class="img-fluid" src="{{showbooks.img.url}}" alt="" width="400" height="500">
      </div>



      <div class="col-md-6">
        <h3 class="my-3">Book Name</h3>
        <p>{{ showbooks.title }}</p>
        <h3 class="my-3">Book Details</h3>
        <ul>
          <li> Author : {{showbooks.Book_Author.name}}</li>
          
        </ul>
        <h3 class="my-3">Book Price</h3>
        <ul>
          
          <li>Price : {{showbooks.price}} BDT</li>
        </ul>

        {% if user.is_authenticated %}
        <form method="POST" action="{% url 'showbook' showbooks.id %}">
          {%csrf_token%}
          <button onclick="myFunction()" class=" fourth">Loan Book</button>
        </form>

        {% else %}
        <p>
          <h3 style="color: red;">Please Login Your Account</h3>
        </p>
        {% endif %}
      </div>
    </div>



  </div>
  <!-- /.row -->






<!-- Related Projects Row -->
<h3 class="my-4">Related Projects</h3>

<div class="row">
  {% for booklist in booklists %}
  <div class="col-md-3 col-sm-6 mb-4">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="{{booklist.img.url}}" alt="Card image cap" height="161px" width="100px">
      <div class="card-body">
        <h5 class="card-title">{{booklist.title}}</h5>
        <p class="card-text">{{booklist.Book_Author.name}}</p>
        <a href="{% url 'showbook' booklist.id %}" class="btn btn-primary">Show Book</a>
      </div>
    </div>
  </div>

  {% endfor %}

</div>
<!-- /.row -->


</div>

</div>
<!-- /.container -->


<script>
  function myFunction() {
    alert("Book is confirm for loan, waiting for admin approval");
  }
  </script>
{% endblock %}